nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    position: fixed;
    z-index: 2;
    left: 5%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.4);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}

@media screen and (max-width: 1024px){
    nav{
        flex-direction: row;
        left: 50%;
    }
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: row;
        left: 50%;
        width: 100%;
    }
}